body {
  background-color: tomato;
  height: 100vh;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer {
  background-color: bisque;
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
.middle {
  height: 250px;
  width: 250px;
  flex-wrap: wrap;
}
.inner {
  background-color: cadetblue;
  height: 55px;
  border-color: white;
  border-width: 2px;
}
.inner_solid {
  width: 55px;
  border-style: solid;
}
.inner_dashed {
  width: 200px;
  border-style: dashed;
}
